<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>lyricUrl</key>
		<string>故乡.lrc</string>
		<key>mp3Url</key>
		<string>故乡.mp3</string>
		<key>picUrl</key>
		<string>故乡.pdf</string>
		<key>name</key>
		<string>故乡</string>
		<key>singer</key>
		<string>许巍</string>
		<key>musicID</key>
		<string>1</string>
	</dict>
	<dict>
		<key>lyricUrl</key>
		<string>回到拉萨.lrc</string>
		<key>mp3Url</key>
		<string>回到拉萨.mp3</string>
		<key>picUrl</key>
		<string>回到拉萨.pdf</string>
		<key>name</key>
		<string>回到拉萨</string>
		<key>singer</key>
		<string>郑钧</string>
		<key>musicID</key>
		<string>2</string>
	</dict>
	<dict>
		<key>lyricUrl</key>
		<string>曹操.lrc</string>
		<key>mp3Url</key>
		<string>曹操.mp3</string>
		<key>picUrl</key>
		<string>曹操.pdf</string>
		<key>name</key>
		<string>曹操</string>
		<key>singer</key>
		<string>林俊杰</string>
		<key>musicID</key>
		<string>3</string>
	</dict>
	<dict>
		<key>lyricUrl</key>
		<string>谁伴我闯荡.lrc</string>
		<key>mp3Url</key>
		<string>谁伴我闯荡.mp3</string>
		<key>picUrl</key>
		<string>谁伴我闯荡.pdf</string>
		<key>name</key>
		<string>谁伴我闯荡</string>
		<key>singer</key>
		<string>黄家驹</string>
		<key>musicID</key>
		<string>3</string>
	</dict>
	<dict>
		<key>lyricUrl</key>
		<string>旅行的意义.lrc</string>
		<key>mp3Url</key>
		<string>旅行的意义.mp3</string>
		<key>picUrl</key>
		<string>旅行的意义.pdf</string>
		<key>name</key>
		<string>旅行的意义</string>
		<key>singer</key>
		<string>陈绮贞</string>
		<key>musicID</key>
		<string>4</string>
	</dict>
</array>
</plist>
